
<!-- Sidebar -->
 <aside class="sidebar">
      <div class="admin-info d-flex align-items-center">
        <i class="fas fa-user-circle fa-3x me-3"></i>
        <div class="admin-details">
          <span class="admin-name d-block fw-bold">Admin</span>
          <span class="brand-name d-block text-muted">TIME ZONE.</span>
        </div>
      </div>

      <!-- Navigation Menu -->
      <nav>
        <ul class="menu-aside">
          <li class="menu-item">
            <a class="menu-link" href="/admin">
              <i class="icon bi bi-house"></i>
              <span class="text">Dashboard</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/users">
              <i class="icon bi bi-people"></i>
              <span class="text">Customers</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/category">
              <i class="icon bi bi-grid"></i>
              <span class="text">Category</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/brand">
              <i class="icon bi bi-star"></i>
              <span class="text">Brands</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/product">
              <i class="icon bi bi-box"></i>
              <span class="text">Products</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/orders">
              <i class="icon bi bi-cart"></i>
              <span class="text">Orders</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/Return">
              <i class="icon bi bi-cart"></i>
              <span class="text">Return</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/offers">
              <i class="icon bi bi-tag"></i>
              <span class="text">Offers</span>
            </a>
          </li>
          <li class="menu-item">
            <a class="menu-link" href="/admin/coupon">
              <i class="icon bi bi-ticket-perforated"></i>
              <span class="text">Coupon</span>
            </a>
          </li>
          
        </ul>
      </nav>
    </aside>

